ul {
    display: flex;
    justify-content: space-around;
    background-color: #1d7777;
}

// div {
//     display: inline-block;
//     justify-content: center;
//     height: 100px;

// }

// button {
//     justify-content: center;
//     text-align: center;
//     height: 30px;
//     width: 50px;
//     font-size: 0,5em;
// }