label {
    color: #d0d0d0;
}

input.validate {
    border-bottom: 1px solid #d0d0d0;
  }

  .inclinne
{
//   -webkit-transform: rotate(-90deg);
//   -moz-transform: rotate(-90deg);
  height:60px;
  width:20px;
}