<div class="card-panel teal darken-1"  style="margin-top: 30px;">
        <h4 style="text-align: center">Ajouter une promotion</h4>
        <div class="row">
          <div class="col s12 m4 l4">
            <label>Année de formation</label>
            <select class="browser-default">
              <option value="" disabled selected>Année de formation</option>
              <option value="1">2018-2019</option>
              <option value="2">2019-2020</option>
              <option value="3">2020-2021</option>
            </select>
          </div>
      
          <div class="col s12 m4 l4">
            <label>Secteur</label>
            <select class="browser-default">
              <option value="" disabled selected>Secteur</option>
              <option value="1">Numérique</option>
              <option value="2">Paramédicale</option>
            </select>
          </div>
      
          <div class="col s12 m4 l4">
            <label>Formation</label>
            <select class="browser-default">
              <option value="" disabled selected>Formation</option>
              <option value="1">Web développeur</option>
              <option value="2">Web Designer</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row file-field input-field">
      
          <div class="btn col s12 m4 l4">
              
            <span>Choisir fichier .csv</span>
            <input type="file" />
          </div>
      
          <div class="file-path-wrapper col s12 m4 l4">
            <input class="file-path validate" type="text" placeholder="Upload file" />
          </div>
          <!--Bouton-->
          <div>
              <a class="waves-effect waves-light btn col s12 m4 l4"><i class="material-icons right">cloud</i>Valider</a>
          </div>
      
        </div>
      
      
      
      </div>
      