<br>
<button (click)="getSectors()">appel Sectors json</button>
{{allSectors | json}}
<br>
<button (click)="getTrainings()">appel Trainings json</button>
{{allTrainings | json}}
<br>
<button (click)="getYears()">appel Years json</button>
{{allYears | json}}
<br>
<button (click)="getGroups()">appel Groups json</button>
{{allGroups | json}}
<br>
<button (click)="getLearners()">appel Learners json</button>
{{allLearners | json}}
<br>
<button (click)="getStates()">appel States json</button>
{{allStates | json}}
<br>
<button (click)="getUsers()">appel Users json</button>
{{allUsers | json}}